.login-container {
  background-color: #161c40;
  width: 100%;
  color: #0ff2b2;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  text-decoration: none;
  background-color: rgba(109, 36, 36, 0);
  color: white;
}
.singup-container {
  background-color: #161c40;
  width: 100%;
  color: #0ff2b2;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-usuario-container {
  background-color: #161c40;
  color: white;
  display:flex;
  flex-direction: column;
  
}
.home-usuario-container h1 {
  color: #0ff2b2;
}
.home-usuario-container h2 {
  color:#0bbf8c;
}
.buscar {
  display: flex;
  align-items: flex-end;
}